footer {
    .footer-personal {
        background-color: map-get($colores , $key:footer-principal );
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    
        .bi-whatsapp {
            @include redes ($whatsapp);
        }
    
        .bi-twitter {
            @include redes ($twitter);
        }
    
        .bi-instagram {
            @include redes ($instagram);
        }
        .bi-facebook {
            @include redes ($facebook);
        }
    }

    .copyright {
        background-color: map-get($colores , $key:footer-secundario );
        text-align: center;
        padding: 5px;
        margin-bottom: 0%;
        color: white;
    }
}