@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin redes ($hover) {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    &:hover{
        color: $hover;
    }
}

@mixin letra {
    font-family: $texto;
    color: $letras;
}