$colores: (
    "cp-white": rgb(255, 255, 255),
    "footer-principal":  rgb(77, 77, 77),
    "footer-secundario":  rgb(95, 95, 95)
);

$detalles:#184E50;
$titulos: #11222a;
$letras: #7E8080;

$text-titulo: 'Merriweather', serif;
$texto: 'Lora', serif;

//  color de redes 
$whatsapp: #4BCA5A;
$twitter: #1A8CD8;
$facebook: #1877F2;
$instagram: #AE1179

